.container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    @apply grid place-content-center gap-4 mt-2 max-sm:mb-24;

}

.container-element{
   grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
   @apply grid place-content-center gap-4
}

@media only screen and (min-width: 768px) {
    
    .container-element {
        grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
        @apply grid place-content-start gap-4 mt-2  ;
    }
}
